@charset "utf-8";

/* pc버전 main.css */

/* 스와이퍼 서식 */
  .swiper-slide>a {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide>a>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-pagination>.swiper-pagination-bullet-active {
    background-color: var(--main_color);
  }

/* main 공통서식 */
:root{
  --main_color : #D91226;
  --txt_color01 : #333;
  --font_size_13 : 13px;
}
html,body{scroll-behavior: smooth;}
.bestseller img:hover{transform: scale(1.1);}
.new img:hover{transform: scale(1.1);}
.hollys_sns img:hover{transform: scale(1.1);}
a:hover{text-decoration: underline;}
/* .new > .swiper_container2 > .mySwiper3 > .card2-wrapper > a:hover{text-decoration: underline;} */
main{background-color: #fff;}
h2{
  text-align: center;
  font-size: 26px;
  font-weight: 800;
  padding: 70px 0px 15px 0px;
}
h3{
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding: 0px 0px 20px 0px;
}

/* 1. 메인슬라이드 서식 */
.slide{width: 100%;height:558px;}
.slide > h2{display: none; }
.mySwiper_slide{height: 558px;}
.swiper-button-next, .swiper-button-prev{
  padding: 0px 40px 0px 40px;
  color: var(--main_color) !important;
}
.swiper-pagination > .swiper-pagination-bullet{
  background-color: var(--txt_color01);
} 
.swiper-pagination > .swiper-pagination-bullet-active{
  background-color: var(--main_color);
} 

/* 2. Best Seller 서식 */
.bestseller{
  width: 100%; height: 700px;
  background-color: #fff;
  z-index: 1;
}
.swiper_container{
  width: 1260px;height: 370px;
  margin: 0 auto;
  margin-top: 20px;
}
.mySwiper2 {
  width: 100%;
  height: 400px;
  text-align: center;
}
.card{
  /* background-color: aqua; */
  width: 325px;height: 370px;
  position: relative;
}
.card_image_box{
  /* background-color: pink; */
  width: 240px;height: 280px;
  position: absolute;
  left: 25px;top: 0px;
}
.card_details{
  /* background-color: green; */
  width: 240px;height: 90px;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  left: 25px; top: 270px;
  padding-top: 10px;
}
.card_details >p>a>span{font-size: 16px;font-weight: 400;}
.swiper-scrollbar-drag{
  background-color: var(--main_color) !important; 
  opacity: 80%;
  width: 250px !important;
}
/* 3. New 서식 */
/* card2 서식 */
.new {
  width: 100%;
  height: 700px;
  background-image: url('../images/bg_new.jpg');
}
/* .new > h2, .new > h3{color: #fff;} */
.swiper_container2 {
  width: 1260px;
  height: 530px;
  margin: 0 auto;
  /* background-color: red; */
}
.mySwiper3 {
  width: 1260px;
  height: 510px;
  /* background-color: blue; */
  position: relative;
}
.card2-wrapper{
  width: 100%; height: 500px;
  /* background-color: pink; */
}
.card2 {
  width: 1920px;
  height: 450px;
  padding-left: 50px;
  /* background-color: blue; */

  position: relative;
}
.main_card{
  width: 345px;height: 425px;
}
.card2:first-child > .main_card{background-image: url('../images/back01.png');}
.card2:nth-child(2) > .main_card{background-image: url('../images/back02.png');}
.main_card > a{
  font-size: 20px;
  font-weight: bold;
  position:absolute;
  left: 80px; top:20px;
}
.main_card > a > img{
  width: 350px; height: 260px;
  position: absolute;
  left: -35px; top: 50px;
}
.main_card > p{
  text-align: right;
  position: absolute;
  left: 220px; bottom: 110px;
}
.sub_wrap{
  width: 830px;height: 430px;
  /* background-color: blue; */

  /* position: relative; */
  position: absolute;
  left: 385px; top: 0px;
}
.sub_card{
  background-color: #fff; 
  width: 400px;height: 200px;
  border-radius: 20px;
}
.sub_wrap > .sub_card:first-child{position: absolute; left: 18px; top: 10px; }
.sub_wrap > .sub_card:nth-child(2){position: absolute; left: 18px; top: 220px;}
.sub_wrap > .sub_card:nth-child(3){position: absolute; left: 430px; top: 10px;}
.sub_wrap > .sub_card:nth-child(4){position: absolute; left: 430px; top: 220px;}

.card2_image_box{
  width: 200px;height: 200px;
  border-radius: 20px 0px 0px 20px;
}
.sub_wrap > .sub_card:first-child > .card2_image_box{background-color: #EDE6C9;}
.sub_wrap > .sub_card:nth-child(2) > .card2_image_box{background-color: #FCDAD0;}
.sub_wrap > .sub_card:nth-child(3) > .card2_image_box{background-color: #FAF0E6;}
.sub_wrap > .sub_card:nth-child(4) > .card2_image_box{background-color: #E9E4E1;}
.card2_details{
  position: absolute;
  left:220px; top: 20px;
}
.card2_details > a {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}
.card2_details > p {
  font-size: 12px;
  font-weight: 400;
  text-align: left;
}
.sub_card > a{
  width: 42px; height: 42px;
  border-radius: 50%;
  position: absolute;
  right:20px; bottom: 18px;
}
.sub_card > a:hover{
  transform: scale(1.1);
}
.sub_wrap > .sub_card:first-child > a{background-color: #EDE6C9;}
.sub_wrap > .sub_card:nth-child(2) > a{background-color: #FCDAD0;}
.sub_wrap > .sub_card:nth-child(3) > a{background-color: #FAF0E6;}
.sub_wrap > .sub_card:nth-child(4) > a{background-color: #E9E4E1;}
.sub_card > a > i{
  transform: scale(1.6) translate(9.5px, 6.5px);
  color: rgb(94, 94, 94);
}

/* 버튼,페이지네이션 서식 */
.swiper_container2 > .mySwiper3 > .swiper-button-prev{
  transform: translate(-20px, -60px);
  padding: 10px;
}
.swiper_container2 > .mySwiper3 > .swiper-button-next{
  transform: translate(20px, -60px);
  padding: 10px;

}
.swiper_container2 > .mySwiper3 > .swiper-pagination{
  bottom: var(--swiper-pagination-bottom,50px);
}
.swiper_container2 > .mySwiper3 > a{
  display: inline-block;
  width: 130px;height: 30px;
  border: 1px solid rgb(131, 131, 131);
  color: rgb(131, 131, 131);
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  padding-top: 6px;
  position: absolute;
  left: 563px; bottom: 0px;
  z-index: 1000;
}
.swiper_container2 > .mySwiper3 > a:hover{
  text-decoration: none;
  background-color: #D91226;
  color:#fff;
  border: none;
  z-index: 1000;
}







/* 4. HOLLYS Mall 서식 */
.hollys_mall{
  width: 100%;height: 750px;  
}

.tab_con{
  /* background-color: blue; */
  width: 1260px;height: 550px;
  margin: 0 auto;
  
}

input[type=radio]{display: none;}
.tab_con > label{
  cursor: pointer;
  display: inline-block;
  padding: 13px 0px;
  background-color: #eeeeee;
  /* border: 1px solid #333; */
  border-radius: 20px 20px 0px 0px;
  width: 150px;
  font-size: 18px;
  text-align: center;
}
.tab_con_innerwrap{
  width: 1240px;height: 520px;
  /* background-color: red; */
  position: relative;
}
/* 더보기 서식 */
.tab_con_innerwrap > a{
  display: block;
  width: 130px;height: 30px;
  border: 1px solid rgb(131, 131, 131);
  color: rgb(131, 131, 131);
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  padding-top: 6px;
  position: absolute;
  left: 550px; bottom: 0px;
}
.tab_con_innerwrap > a:hover{
  background-color: #D91226;
  color:#fff;
  border: none;
  text-decoration: none;
}
.con01, .con02, .con03{
  width: 1240px;height: 450px;
  position: absolute;
  display: none;
}
.con01{
  background-color: #C59C7B;
  border-radius: 0px 20px 20px 20px;
  overflow: hidden;
}
.con02{
  background-color: #7DC1C4;
  border-radius: 0px 20px 20px 20px;
  overflow: hidden;
}
.con03{
  background-color: #F1E1CA;
  border-radius: 0px 20px 20px 20px;
  overflow: hidden;
  /* position: relative; */
}
.con01 > img{width: 450px; height: 450px;}
.con02 > img{width: 450px; height: 450px;}
.con03 > img{width: 450px; height: 450px;}

.con_innerbox_wrap{
  width: 750px;height: 410px; 
  position: absolute;
  left: 470px;top: 20px;
  display: flex;
  justify-content: space-between;
}
.con_innerbox{
  width: 230px; height: 410px;
  background-color: #fff;
  border-radius: 30px;
}
.con_innerbox > img{
  width: 200px; height: 200px;
  padding: 15px;
  /* background-color: pink; */
}
.con_innerbox > ul{line-height: 30px; text-indent: 20px;}
.con_innerbox > ul > li:first-child{font-size: 16px;}
.con_innerbox > ul > li:nth-child(2){font-size: 17px;font-weight: 800;}
.con_innerbox > ul > li:nth-child(3){font-size: 18px;color: var(--main_color);font-weight: bold;}
.con_innerbox > ul > li:nth-child(4){font-size: 15px;}


/* 버튼 서식 */
.btn_wrap{
  width: 200px; height: 40px;
  /* background-color: pink; */
  display: flex;
  justify-content: space-around;
  margin-left: 13px;
}
.btn_like, .btn_cart{
  width: 38px;height: 38px;
  border: 1px solid #9e9e9e;
  border-radius: 10px;
  text-align: center;
  
}
#btn_like1+label, #btn_like2+label, #btn_like3+label, #btn_like4+label, #btn_like5+label, #btn_like6+label, #btn_like7+label, #btn_like8+label, #btn_like9+label {
  display: inline-block;
  width: 16px; height: 14px;
  background-image: url('../images/btn_like.png');
  text-indent: -9999px;
  cursor: pointer;
  transform: translateY(12px);
}
#btn_like1, #btn_like2, #btn_like3, #btn_like4, #btn_like5, #btn_like6, #btn_like7, #btn_like8, #btn_like9 {display: none;}
#btn_like1:checked + label, #btn_like2:checked + label, #btn_like3:checked + label, #btn_like4:checked + label, #btn_like5:checked + label, #btn_like6:checked + label, #btn_like7:checked + label, #btn_like8:checked + label, #btn_like9:checked + label {background-position: -17px 0px;}

.fa-bag-shopping{
  transform: scale(1.4) translate(0.5px, 6px);
}
.btn_buy{
  width: 98px;height: 30px;
  font-size: 14px;
  text-align: center;
  padding-top: 8px;
  border-radius: 10px;
  border: 1px solid #9e9e9e;
}
.btn_buy:hover{
  border: none;
  background-color: var(--main_color);
  color: #fff;
  box-shadow: 0 0 0 1px #dadcdf, 0 4px 8px 0 rgb(0 0 0 / 15%);
}
.btn_buy:hover > a{color: #fff;}

/* 탭메뉴 동작 서식 */
#tab01:checked ~ .tab_con_innerwrap > .con01{display: block;}
#tab02:checked ~ .tab_con_innerwrap > .con02{display: block;}
#tab03:checked ~ .tab_con_innerwrap > .con03{display: block;}
#tab01:checked ~ .tab01{
  background-color: #D91226;
  border: none;
  color: #fff;
}
#tab02:checked ~ .tab02{
  background-color: #D91226;
  border: none;
  color: #fff;
}
#tab03:checked ~ .tab03{
  background-color: #D91226;
  border: none;
  color: #fff;
}
/* 5. Store 서식 */
.store{
  width: 100%; height: 700px;
  position: relative;
}
.store_wrap{
  width: 1590px;height: 600px;
  background-color: var(--main_color);
  border-radius: 100px 0px 0px 100px;
  position: relative;
  position: absolute;
  right: 0; top: 30px;
}
.store_wrap > h2, .store_wrap > h3{
  color: #fff;
  text-align: left;
  text-indent: 100px;
}
.store_wrap > h2{padding-top: 160px;}
.store_searchbox{
  /* background-color: green; */
  width: 500px;height: 70px;
  position: absolute;
  left: 100px;top: 250px;
}
#searchbox{
  /* background-color: pink; */
  width: 500px;height: 70px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  text-indent: 30px;
}
#searchbox+label{display: none;}
.fa-magnifying-glass{
  background-color: #fff;
  color: #d91226;
  opacity: 0.5;
  transform: scale(2.6);
  position: absolute;
  left: 460px; top: 33px;
  cursor: pointer;
}
.store_hashtag{
  /* background-color: yellow; */
  width: 400px; height: 40px;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  left: 100px;top: 340px;
  
}
.store_hashtag> li:hover{
  background-color: rgb(240, 97, 111);
  
}
.store_hashtag> li > a:hover{color: #fff;}
.store_hashtag > li{
  background-color: #fff;
  width: 90px;height: 40px;
  border-radius: 20px;
  
}
.store_hashtag > li > a{
  /* background-color: aqua; */
  font-size: 16px;
  display: inline-block;
  width: 90px;height: 30px;
  padding-top: 10px;
  text-align: center;
}
.store_wrap > a{
  display: inline-block;
  width: 130px;height: 30px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  padding-top: 6px;
  position: absolute;
  left: 110px; top: 400px;
}
.store_wrap > a:hover{background-color: #fff;color:#333; text-decoration: none;}
/* 매장검색 오른쪽 이미지 서식 */
.store_image{
  width: 830px; height: 600px;
  position: absolute;
  right: 0px; top: 0px;
}
.store_image > img:first-child{
  width: 100%;height: 100%;
}
.store_image > img:nth-child(2){
  position: absolute;
  left: 250px;top: 100px;
}



/* 6. HOLLYS SNS 서식 */
.hollys_sns{
  width: 100%; height: 800px;
  margin: 0 auto;
  /* background-color: yellow; */
}
.gallery{
  width: 1260px; height: 500px;
  /* background-color: aqua; */
  margin: 0 auto;
  padding-left: 160px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4,260px);
  grid-template-rows: repeat(2, 260px);
}

.gallery > li{overflow: hidden; transition: 0.3s;}
.gallery > li img{
  width: 260px; height: 260px;
}
.gallery > li img:hover{
  filter: grayscale(50%);
  
}


/* 7. 창업안내 서식 */
.franchise_guide{
  width: 1590px; height: 600px;
  background-color: var(--main_color);
  border-radius: 0 100px 100px 0;
  color: #fff;
  margin-bottom: 20px;
}
.franchise_wrap{
  width: 1260px; height: 500px;
  /* background-color: #333; */
  margin: 0px auto;
  padding-top: 0px;
  
}
.franchise_wrap > h2, .franchise_wrap > h3{text-align: left; text-indent: 70px;}
.franchise_wrap02{
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
  /* background-color: pink; */
}
.franchise_innerbox{
  width: 330px;height: 360px;
  background-color: #fff;
  color: #333;
  border-radius: 50px;
  box-shadow: 0 0 0 1px #bcbdbe, 0 4px 8px 0 rgb(0 0 0 / 15%);
  position: relative;
}
.franchise_innerbox > p:first-child{
  padding: 40px 0px 0px 30px;
  font-size: 24px;
  font-weight: 800; 
}
.franchise_innerbox > p:nth-child(2){
  padding: 20px 0px 0px 30px;
  font-size: 16px;
  font-weight: 400;
}
.franchise_innerbox > a{
  display: block;
  width: 40px; height: 40px;
  /* background-color: #ccc; */
  /* border: 1px solid rgb(139, 139, 139); */
  box-shadow: 0 0 0 1px #dadcdf, 0 4px 8px 0 rgb(0 0 0 / 15%);
  border-radius: 50%;
  
  position: absolute;
  right: 30px; top: 30px;
} 
.franchise_innerbox > a >i{
  padding: 8px;
  /* background-color: red; */
  transform: scale(1.8);
  position: relative;
  left: 5.5px; top: 6px;
  color: rgb(105, 104, 104);
}
.franchise_innerbox > a:hover{
  border: none;
  background-color: rgba(217, 18, 38, .5);
  color: #fff;
}
.franchise_innerbox > a > i:hover{
  color: #fff;
}
.franchise_innerbox > i{
  transform: scale(6);
  color: #D91226;
  position: absolute;
  right: 60px; bottom: 70px;
} 

/* 탑버튼 서식 */
aside > a{
  /* width: 50px; height: 50px;
  border: 2px solid #333;
  border-radius: 50%;
  background-color: #fff; */
  position: fixed;
  bottom:100px; right: 100px;
}
aside a > i{
  background-color: #fff;
  color: rgb(110, 110, 110);
  padding: 20px 25px;
  /* border: 0.5px solid rgb(110, 110, 110); */
  border-radius: 50%;
  /* box-shadow: 0 5px 5px -5px rgb(156, 154, 154); */
  box-shadow: 0 0 0 1px #dadcdf, 0 4px 8px 0 rgb(0 0 0 / 15%);
  text-decoration: none;
  font-size: 30px;
  position: absolute;
  left: 0px;top: 0px;
}
aside a > i:hover{
  background-color: #D91226;
  color: #fff;
  border: none;
}
